{% extends "base_shop.html" %}

{% block content %}
    <p>Brand: {{ car.fields.brand }}</p>
    <p>Registration: {{ car.fields.inmatricolation }}</p>
    <p>Quantity: {{ car.fields.quantity }}</p>
    <p>Price: {{ car.fields.price }}</p>
    <p>Sold: {{ car.fields.selled }}</p>
    <p>Available: {{ car.fields.disponible }}</p>

 
<!-- 
    <form method="post" action="{% url 'cars:cardetails' car_id=car.id %}">
        {% csrf_token %}
        <input type="hidden" name="car_id" value="{{ car.id }}">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" value="1" min="1"><br>
        <input type="submit" value="Place Order">
    </form> -->
    
{% endblock %}

