<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      
      
      <title>Auto Shop Dci</title>
</head>
<body class="grid">
      <div class="container p-0 m-0 me-0 widht-10">
            <header>
                  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-radiant shadow">
                        <div class="container-fluid fs-4 ms-2">
                              <span class="navbar-text me-4">
                                    Auto Shop Dci
                              </span>
                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse ms-2 me-4" id="navbarText">
                                    <ul class="navbar-nav mb-2">
                                          <li class="nav-item">
                                                <a class="nav-link active" aria-current="page" href="{% url 'shop_page'%}">Shop</a>
                                          </li>
                                          <li class="nav-item">
                                                <a class="nav-link" href="{% url 'login_page'%}">Login</a>
                                          </li>
                                    </ul>
                                    
                              </div>
                        </div>
                  </nav>
                  
            </header>
                  
            <div class="content_body container p-0 m-0 widht-10 height-10">
                 
                  <div class="col height-10 p-0 m-0"style="min-width:60vw;min-height: 100vh; ">
                  
                        {% block content%}
                        {% endblock content%}
                  </div>
                        
            </div>
            <footer class="row" style="background-color: black; height: 10vh;">

            </footer>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>